<div class="my-3 p-3 pb-5 bg-body rounded shadow-sm">
  <div class="pb-4 text-center">
    <h1 class="pb-2 mb-0 display-5 fw-bold">Desafío Técnico NTTDATA</h1>
  </div>

  <div class="d-flex text-muted pt-3 option" [routerLink]="['manejo-datos']">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-3 px-2 rounded">
      <i class="bi bi-1-square"></i>
    </div>
    <div class="ps-4 pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">Desafío 1</strong>
      </div>
      <span class="d-block">Manejo de Datos Asíncronos con RxJS</span>
    </div>
  </div>

  <div class="d-flex text-muted pt-3 option" [routerLink]="['mejoras-navegacion']">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-3 px-2 rounded">
      <i class="bi bi-2-square"></i>
    </div>
    <div class="ps-4 pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">Desafío 2</strong>
      </div>
      <span class="d-block">Mejoras en la Navegación</span>
    </div>
  </div>

  <div class="d-flex text-muted pt-3 option" [routerLink]="['estrategias-optimizacion']">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-3 px-2 rounded">
      <i class="bi bi-3-square"></i>
    </div>
    <div class="ps-4 pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">Desafío 3</strong>
      </div>
      <span class="d-block">Estrategias Prácticas de Optimización</span>
    </div>
  </div>

  <div class="d-flex text-muted pt-3 option" [routerLink]="['pruebas-unitarias']">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-3 px-2 rounded">
      <i class="bi bi-4-square"></i>
    </div>
    <div class="ps-4 pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">Desafío 4</strong>
      </div>
      <span class="d-block">Pruebas Unitarias para un Escenario Real</span>
    </div>
  </div>

</div>
