<div class="px-4 text-center">
  <h1 class="display-5 fw-bold">Manejo de Datos Asíncronos con RxJS</h1>
</div>

<div class="row mt-5 align-items-md-stretch">
  <div class="col-md-8">
    <div class="h-100 p-5 pb-0 text-bg-dark">
      <img class="image pb-5" src="/assets/d2/2.png" alt="image">
      <img class="image pb-5" src="/assets/d2/3.png" alt="image">
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-light border rounded-3 d-flex align-items-center">
      <p class="display-6">Se crea un módulo nuevo con un routing propio y en el mismo se colocan todas las rutas a utilizar.</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="h-100 p-5 bg-light border rounded-3 d-flex align-items-center">
      <p class="display-6">Hacemos uso de la sintaxis "loadChildren()" en el routing principal para importar las rutas de los demás routings</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="h-100 p-5 pb-0 text-bg-dark">
      <img class="image pb-5" src="/assets/d2/1.png" alt="image">
    </div>
  </div>

</div>
